body {
  background-image: url("https://wallpaperfm.com/img/original/8/5/7/9236.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  border-radius: 4px;

}

#home {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  text-shadow: 1px 2px 2px #00A6FF, 0 0 5px #2256F4;
  font-family: 'Orbitron', sans-serif;
}

#gameSelector {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#title, #sP, #sT, a {
text-shadow: 0 0 5px #2256F4, 0 0 5px #00ECFF, 1px 2px 2px #00A6FF;
}

#envoy {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
  border-color: transparent;
}

#gameUi {
  background-color:transparent;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
  border-color: transparent;
}

#gameWindow {
text-align: center;
background-color:transparent;
color: #00ECFF;
font-family: 'Orbitron', sans-serif;
border-color: transparent;
}

#shipType, #statCard, #actionBar, a {
  text-align: center;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
  border-color: transparent;
  background: rgba(0, 0, 9, 0.8);
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}

#actionBar {
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  background: rgba(0, 0, 9, 0.8);
}

#spaceStation {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
  border-color: transparent;
}
#stationDesign {
  background-color: transparent;

}

/* #colonize {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #2256F4;
  font-family: 'Orbitron', sans-serif;
  border-color: transparent;
} */

#resultScreen {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #0166FE;
  font-family: 'Orbitron', sans-serif;
}

.btn:hover {
  background-color: #008CBA;
}

.btn:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  background-color: #2256F4;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;
  padding: 16px 32px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #2256F4; -webkit-box-shadow: 0 0 3px #2256F4; }
  50% { background-color: #00ECFF; -webkit-box-shadow: 0 0 40px #00ECFF; }
  100% { background-color: #2256F4; -webkit-box-shadow: 0 0 3px #2256F4; }
}

@-moz-keyframes glowing {
  0% { background-color: #2256F4; -moz-box-shadow: 0 0 3px #2256F4; }
  50% { background-color: #00ECFF; -moz-box-shadow: 0 0 40px #00ECFF; }
  100% { background-color: #2256F4; -moz-box-shadow: 0 0 3px #2256F4; }
}

@-o-keyframes glowing {
  0% { background-color: #2256F4; box-shadow: 0 0 3px #2256F4; }
  50% { background-color: #00ECFF; box-shadow: 0 0 40px #00ECFF; }
  100% { background-color: #2256F4; box-shadow: 0 0 3px #2256F4; }
}

@keyframes glowing {
  0% { background-color: #2256F4; box-shadow: 0 0 3px #2256F4; }
  50% { background-color: #00ECFF; box-shadow: 0 0 40px #00ECFF; }
  100% { background-color: #2256F4; box-shadow: 0 0 3px #2256F4; }
}
/* #start {
  border-color: transparent;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px; */

  /* transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
} */
/* #start {
  background-color: transparent;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;
  border-radius: 12px;
} */
.button:hover {
  background-color: #00ECFF;
  color: black;
}

#game1, #game2, #purchase, a {
  background-color: transparent;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}

#game1, #game2, #purchase, a {
  background-color: transparent;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;
  border-radius: 12px;
}
#game1:hover, #game2:hover, #purchase:hover, a {
  background-color: #00ECFF;
  color: black;
}

#crew1, #crew2, #crew3, #crew4, #crew5,
#crew6, #crew7, #crew8, #crew9, #crew10,
#item1, #item2, #item3, #item4, #item5,
#item6, #item7, a {
  background-color: transparent;
  color: #00ECFF;
  /* border: 2px solid #00ECFF, 0 0 5px #2256F4; */
  border-radius: 12px;
  border-color: transparent;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;

}

#gameMenu, #gameMenu2, #exit, #goHome, #goHome2, a {
  background-color: transparent;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}
#gameMenu, #gameMenu2, #exit, #goHome, #goHome2, a {
  background-color: transparent;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;
  border-radius: 12px;
}
#gameMenu:hover, #gameMenu2:hover, #exit:hover, #goHome:hover,#goHome2:hover, a {
  background-color: #00ECFF;
  color: black;
}
.footer {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}
  progress#health {
  	display:inline-block;
  	width:100px;
  	height:20px;
  	margin:0;
  	background: transparent;
  	border: 0;
  	border-radius: 12px;
  	text-align: center;
  	position:relative;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 0.8em;
  }
  progress#health::-webkit-progress-bar {
  	height:11px;
  	width:100px;
  	margin:0 auto;
  	background-color: transparent;
  	border-radius: 12px;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#health::-webkit-progress-value {
  	display:inline-block;
  	float:left;
  	height:8px;
  	margin:0px -10px 0 0;
  	background: #de0000;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#health:after {
  	margin:-26px 0 0 -7px;
  	padding:0;
  	display:inline-block;
  	float:left;
  }

  progress#fuel {
  	display:inline-block;
  	width:100px;
  	height:20px;
  	margin:0;
  	background:none;
  	border: 0;
  	border-radius: 12px;
  	text-align: center;
  	position:relative;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 0.8em;
  }
  progress#fuel::-webkit-progress-bar {
  	height:11px;
  	width:100px;
  	margin:0 auto;
  	background-color: transparent;
  	border-radius: 12px;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#fuel::-webkit-progress-value {
  	display:inline-block;
  	float:left;
  	height:8px;
  	margin:0px -10px 0 0;
  	background: #00f2ff;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#fuel:after {
  	margin:-26px 0 0 -7px;
  	padding:0;
  	display:inline-block;
  	float:left;
  }
  progress#food {
    display:inline-block;
    width:100px;
    height:20px;
    margin:0;
    background:none;
    border: 0;
    border-radius: 2px;
    text-align: center;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  progress#food::-webkit-progress-bar {
    height:11px;
    width:100px;
    margin:0 auto;
    background-color: transparent;
    border-radius: 15px;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#food::-webkit-progress-value {
    display:inline-block;
    float:left;
    height:8px;
    margin:0px -10px 0 0;
    background: #00ff1e;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#food:after {
    margin:-26px 0 0 -7px;
    padding:0;
    display:inline-block;
    float:left;
  }

  progress#shield {
  	display:inline-block;
  	width:100px;
  	height:20px;
  	margin:0;
  	background:none;
  	border: 0;
  	border-radius: 12px;
  	text-align: center;
  	position:relative;
  	font-family: Arial, Helvetica, sans-serif;
  	font-size: 0.8em;
  }
  progress#shield::-webkit-progress-bar {
  	height:11px;
  	width:100px;
  	margin:0 auto;
  	background-color: transparent;
  	border-radius: 15px;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#shield::-webkit-progress-value {
  	display:inline-block;
  	float:left;
  	height:8px;
  	margin:0px -10px 0 0;
  	background: #d400ff;
  	box-shadow:0px 0px 6px #777 inset;
  }
  progress#shield:after {
  	margin:-26px 0 0 -7px;
  	padding:0;
  	display:inline-block;
  	float:left;
  	/* content: attr(value) '%'; */
  }
  progress#shipHp {
    display:inline-block;
    width:100px;
    height:20px;
    margin:0;
    background:none;
    border: 0;
    border-radius: 12px;
    text-align: center;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  progress#shipHp::-webkit-progress-bar {
    height:11px;
    width:100px;
    margin:0 auto;
    background-color: transparent;
    border-radius: 15px;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#shipHp::-webkit-progress-value {
    display:inline-block;
    float:left;
    height:8px;
    margin:0px -10px 0 0;
    background: #de0000;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#shipHp:after {
    margin:-26px 0 0 -7px;
    padding:0;
    display:inline-block;
    float:left;
    /* content: attr(value) '%'; */
  }
  progress#distanceTraveled {
    display:inline-block;
    width:100px;
    height:20px;
    margin:0;
    background:none;
    border: 0;
    border-radius: 2px;
    text-align: center;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
  progress#distanceTraveled::-webkit-progress-bar {
    height:11px;
    width:100px;
    margin:0 auto;
    background-color: transparent;
    border-radius: 15px;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#distanceTraveled::-webkit-progress-value {
    display:inline-block;
    float:left;
    height:8px;
    margin:0px -10px 0 0;
    background: #ffffff;
    box-shadow:0px 0px 6px #777 inset;
  }
  progress#distanceTraveled:after {
    margin:-26px 0 0 -7px;
    padding:0;
    display:inline-block;
    float:left;
    content: attr(value) '%';
  }
  .stationKeeper {
    height: 200px;
    width: 200px;
  }
  .stationItemImages {
    height: 100px;
    width: 100px;
  }
  #item1, #item2, #item3, #item4, #item5, #item6, #item7 {
    height: 200px;
    width: 200px;
    background: rgba(0, 0, 9, 0.8);

  }

  #row1, #row2, #row3, #row4, #row5, #row10, a {
    margin-left: 25px;
    text-align: center;
    justify-content: center;
    display: flex;
    /* margin: 0 auto; */
  }

  #money {
    color: gold;
  }

  #prompts {
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    color: #00ECFF;
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto;
    justify-content: center;
    text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
    /* display: flex; */
  }
  #promptStation, #promptEvent, a {
    background-color: transparent;
    /* margin: 0 auto;
    text-align: center;
    justify-content: center;
    display: flex; */
  }

  #keepFlying, #dock, #eventYes, #eventNo, a {
      background-color: transparent;
      border: none;
      color: black;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
      cursor: pointer;
      box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
      text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
    }

    #keepFlying, #dock, #eventYes, #eventNo, a {
      background-color: transparent;
      color: #00ECFF;
      border: 2px solid #00ECFF, 0 0 5px #2256F4;
      border-radius: 12px;
    }
    #keepFlying:hover, #dock:hover, #eventYes:hover, #eventNo:hover, a {
      background-color: #00ECFF;
      color: black;
    }
