body {
  background-image: url("https://wallpaperfm.com/img/original/8/5/7/9236.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#home {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  text-shadow: 1px 2px 2px #00A6FF, 0 0 5px #2256F4;
  font-family: 'Orbitron', sans-serif;
}

#gameSelector {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#envoy {
  text-align: center;
  background: rgba(0, 0, 9, 0.8);
  border-radius: 4px;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#gameUi {
  background-color:transparent;
  border-radius: 4px;
  font-family: 'Orbitron', sans-serif;
}

#shipType {
  background: black;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#gameWindow {
  background-color:transparent;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#statCard {
  background: black;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#actionBar {
  background-color:transparent;
  color: #00ECFF;
  font-family: 'Orbitron', sans-serif;
}

#colonize {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #2256F4;
  font-family: 'Orbitron', sans-serif;
}

#resultScreen {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #0166FE;
  font-family: 'Orbitron', sans-serif;
}

.btn:hover {
  background-color: #008CBA;
}

.btn:active {
  background-color: #008CBA;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#start {
  background-color: #00ECFF;
  border: none;
  color: #2256F4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}


#start {
  background-color: #2256F4;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;;
  border-radius: 12px;
}
#start:hover {
  background-color: #00ECFF;
  color: #2256F4;
}

#game1 {
  background-color: #00ECFF;
  border: none;
  color: #2256F4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}


#game1 {
  background-color: #2256F4;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;;
  border-radius: 12px;
}
#game1:hover {
  background-color: #00ECFF;
  color: #2256F4;
}


#game2 {
  background-color: #00ECFF;
  border: none;
  color: #2256F4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}


#game2 {
  background-color: #2256F4;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;;
  border-radius: 12px;
}
#game2:hover {
  background-color: #00ECFF;
  color: #2256F4;
}


#goBack1 {
  background-color: #00ECFF;
  border: none;
  color: #2256F4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}
#goBack1 {
  background-color: #2256F4;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;;
  border-radius: 12px;
}
#goBack1:hover {
  background-color: #00ECFF;
  color: #2256F4;
}

#goBack2 {
  background-color: #00ECFF;
  border: none;
  color: #2256F4;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
  text-shadow: 0 0 5px #00ECFF, 0 0 5px #2256F4;
}

#goBack2 {
  background-color: #2256F4;
  color: #00ECFF;
  border: 2px solid #00ECFF, 0 0 5px #2256F4;;
  border-radius: 12px;
}
#goBack2:hover {
  background-color: #00ECFF;
  color: #2256F4;
}

.footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
  color: #00ECFF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }
